In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('all_volvo.csv')
df.info()

/var/folders/ds/z8w9y82x4052nsy9g05k5vc00000gp/T/ipykernel_87853/3894792868.py:1: DtypeWarning: Columns (5,12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('all_volvo.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139371 entries, 0 to 139370
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unique_ID            139371 non-null  int64
 1   Volvo OE             139371 non-null  int64
 2   Namn                 139371 non-null  object
 3   Kategori             139371 non-null  object
 4   Huvudkategori        1747 non-null    object
 5   Dubbla kategorier    34 non-null      object
 6   Model                139371 non-null  object
 7   Model_Year           116476 non-null  object
 8   Engine_Type          139371 non-null  object
 9   Skandix number       139371 non-null  int64
 10  product_id           139371 non-null  int64
 11  Combined_Attributes  139371 non-null  object
 12  Priskategori         7 non-null       object
 13  Unnamed: 8           84043 non-null   object
 14  Unnamed: 9           46 non-null      object
dtypes: int64(4), object(11)
memory usage: 15.9+ MB

In [6]:
df_cb = pd.read_csv('dfs_combined.csv')
display(df_cb.info(), df_cb.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129940 entries, 0 to 129939
Data columns (total 34 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Skandix number  129940 non-null  int64
 1   Volvo OE        115835 non-null  float64
 2   Name            129940 non-null  object
 3   Category        129940 non-null  object
 4   Fitment 1       105504 non-null  object
 5   Attributes      126042 non-null  object
 6   Fitment 2       24404 non-null   object
 7   Fitment 3       9647 non-null    object
 8   Fitment 4       5562 non-null    object
 9   Fitment 5       3120 non-null    object
 10  Fitment 6       2102 non-null    object
 11  Fitment 7       1376 non-null    object
 12  Fitment 8       1014 non-null    object
 13  Fitment 9       704 non-null     object
 14  Fitment 10      506 non-null     object
 15  Fitment 11      378 non-null     object
 16  Fitment 12      310 non-null     object
 17  Filename        129940 non-null  object
 18  Fitment 13      236 non-null     object
 19  Fitment 14      204 non-null     object
 20  Fitment 15      106 non-null     object
 21  Fitment 16      83 non-null      object
 22  Fitment 17      60 non-null      object
 23  Fitment 18      47 non-null      object
 24  Fitment 19      41 non-null      object
 25  Fitment 20      34 non-null      object
 26  Fitment 21      28 non-null      object
 27  Fitment 22      27 non-null      object
 28  Fitment 23      25 non-null      object
 29  Fitment 24      21 non-null      object
 30  Fitment 25      18 non-null      object
 31  Fitment 26      18 non-null      object
 32  Fitment 27      13 non-null      object
 33  Fitment 28      12 non-null      object
dtypes: float64(1), int64(1), object(32)
memory usage: 33.7+ MB

/var/folders/ds/z8w9y82x4052nsy9g05k5vc00000gp/T/ipykernel_87853/3600646908.py:1: DtypeWarning: Columns (20,21,22,23,24,25,26,27,28,29,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_cb = pd.read_csv('dfs_combined.csv')

None

,Skandix number,Volvo OE,Name,Category,Fitment 1,Attributes,Fitment 2,Fitment 3,Fitment 4,Fitment 5,...,Fitment 19,Fitment 20,Fitment 21,Fitment 22,Fitment 23,Fitment 24,Fitment 25,Fitment 26,Fitment 27,Fitment 28
0,1004302,9117321.0,Oil filter Insert,Oil filter,"Saab 9-3 (-2003): all models, engine D223L",Manufacturer: SKANDIX; Filter type: Insert; Sc...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003387,93186554.0,Oil filter Spin-on Filter,Oil filter,"Saab 9-3 (-2003): all models, engine all gasoline",Manufacturer: Saab; Filter type: Spin-on Filter,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1004929,32020156.0,Cabin air filter Activated Carbon,Cabin air filter,Saab 9-3 (-2003): all models,Manufacturer: SKANDIX; Filter type: Activated ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1003649,32020156.0,Cabin air filter Standard,Cabin air filter,Saab 9-3 (-2003): all models,Filter type: Standard,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1069425,32231091.0,Cabin air filter Standard,Cabin air filter,Saab 9-3 (-2003): all models,Manufacturer: Saab Select - Hedin; Filter type...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_sw = pd.read_excel('Work Svenska kategorier JJ .xlsx')
df_sw.head(2)

,Unique_ID,Volvo OE,Model,Namn,Huvudkategori,Kategori,Dubbla kategorier,Priskategori,Unnamed: 8,Unnamed: 9
0,6,10506,"Volvo 120, 130, 220","Mutter, hjullager Slottsmutter Bakaxel",NaN,"Mutter, hjullager",NaN,NaN,Kronmutter,NaN
1,6,10506,"Volvo PV444, 544, P445, P210","Mutter, hjullager Slottsmutter Bakaxel",NaN,"Mutter, hjullager",NaN,NaN,Kronmutter,NaN